USE [master]
GO
/****** Object:  Database [BOOKSHOP_ASPDB]    Script Date: 4/22/2023 4:45:14 PM ******/
CREATE DATABASE [BOOKSHOP_ASPDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BOOKSHOP_ASPDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MAYAO\MSSQL\DATA\BOOKSHOP_ASPDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BOOKSHOP_ASPDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MAYAO\MSSQL\DATA\BOOKSHOP_ASPDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BOOKSHOP_ASPDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BOOKSHOP_ASPDB]
GO
/****** Object:  Table [dbo].[AuthorTbl]    Script Date: 4/22/2023 4:45:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorTbl](
	[AutId] [int] IDENTITY(1,1) NOT NULL,
	[AutName] [nvarchar](50) NOT NULL,
	[AutGender] [varchar](50) NOT NULL,
	[AutCountry] [varchar](150) NOT NULL,
 CONSTRAINT [PK_AuthorTbl] PRIMARY KEY CLUSTERED 
(
	[AutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillTbl]    Script Date: 4/22/2023 4:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillTbl](
	[BillId] [int] IDENTITY(1,1) NOT NULL,
	[BillDate] [date] NOT NULL,
	[Seller] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_BillTbl] PRIMARY KEY CLUSTERED 
(
	[BillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookTbl]    Script Date: 4/22/2023 4:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookTbl](
	[BId] [int] IDENTITY(1,1) NOT NULL,
	[BName] [nvarchar](50) NOT NULL,
	[BAuthor] [int] NOT NULL,
	[BCategory] [int] NOT NULL,
	[BQty] [int] NOT NULL,
	[BPrice] [int] NOT NULL,
	[BBranch] [int] NOT NULL,
 CONSTRAINT [PK_BookTbl] PRIMARY KEY CLUSTERED 
(
	[BId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BranchTbl]    Script Date: 4/22/2023 4:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BranchTbl](
	[BrId] [int] IDENTITY(1,1) NOT NULL,
	[BrName] [nvarchar](50) NOT NULL,
	[BrLocation] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BranchTbl] PRIMARY KEY CLUSTERED 
(
	[BrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryTbl]    Script Date: 4/22/2023 4:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryTbl](
	[CatID] [int] IDENTITY(1,1) NOT NULL,
	[CatName] [nvarchar](50) NOT NULL,
	[CatDescription] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CategoryTbl] PRIMARY KEY CLUSTERED 
(
	[CatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellerTbl]    Script Date: 4/22/2023 4:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellerTbl](
	[SellerId] [int] IDENTITY(1,1) NOT NULL,
	[SellerName] [nvarchar](50) NOT NULL,
	[SellerEmail] [varchar](150) NOT NULL,
	[SellerPhone] [varchar](50) NOT NULL,
	[SellerPassword] [varchar](150) NOT NULL,
	[SellerBranch] [int] NOT NULL,
 CONSTRAINT [PK_SellerTbl] PRIMARY KEY CLUSTERED 
(
	[SellerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BillTbl]  WITH CHECK ADD  CONSTRAINT [FK__BillTbl__Seller__02FC7413] FOREIGN KEY([Seller])
REFERENCES [dbo].[SellerTbl] ([SellerId])
GO
ALTER TABLE [dbo].[BillTbl] CHECK CONSTRAINT [FK__BillTbl__Seller__02FC7413]
GO
ALTER TABLE [dbo].[BookTbl]  WITH CHECK ADD  CONSTRAINT [FK_BookTbl_AuthorTbl] FOREIGN KEY([BAuthor])
REFERENCES [dbo].[AuthorTbl] ([AutId])
GO
ALTER TABLE [dbo].[BookTbl] CHECK CONSTRAINT [FK_BookTbl_AuthorTbl]
GO
ALTER TABLE [dbo].[BookTbl]  WITH CHECK ADD  CONSTRAINT [FK_BookTbl_BranchTbl] FOREIGN KEY([BBranch])
REFERENCES [dbo].[BranchTbl] ([BrId])
GO
ALTER TABLE [dbo].[BookTbl] CHECK CONSTRAINT [FK_BookTbl_BranchTbl]
GO
ALTER TABLE [dbo].[BookTbl]  WITH CHECK ADD  CONSTRAINT [FK_BookTbl_CategoryTbl] FOREIGN KEY([BCategory])
REFERENCES [dbo].[CategoryTbl] ([CatID])
GO
ALTER TABLE [dbo].[BookTbl] CHECK CONSTRAINT [FK_BookTbl_CategoryTbl]
GO
USE [master]
GO
